*,
*::before, /*get all the psudo elements as well*/
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /*its a better practice to have * inherit box-sizing from the body*/
}

/*Base styles*/
html {
  /*use 10px to make rem units simple to calculate, and make it a percentage for accessiblity (62.5% of browsers default 16px is 10px)*/
  font-size: 62.5%;
  //
  // @include respond(tab-land) {
  //   font-size: 56.25%;
  // }
  //
  // @include respond(tab-port) {
  //   font-size: 50%;
  // }
  //
  // @include respond(big-desktop) {
  //   font-size: 75%;
  // }

}

body {
  box-sizing: border-box;
  padding: 3rem;
  //
  // @include respond(tab-port) {
  //   padding: 0;
  // }
}
